<!DOCTYPE html>
<html>
  <head>
    <title><% var name= "iptables" %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= name %></h1>
    <p>Welcome to iptables rule generator</p>
    <script src='/javascripts/form.js'></script>
    <p>
      <select id="ActionToRule" onchange="action()">
        <option>choose action</option>
        <option>Show iptables</option>
        <option>Add</option>
        <option>Insert</option>
        <option>Delete</option>
        <!-- <option>Insert</option>
        <option>Revise</option> -->
      </select>
      <select id="table">
        <option>choose table</option>
        <option>nat</option>
        <option>filter</option>
      </select>
      <select id="chain">
        <option>choose chain</option>
        <option>input</option>
        <option>output</option>
        <option>forward</option>
      </select>
      <input id="rule_number" type="number" placeholder="rule number">
      <select id="protocal">
        <option>tcp</option>
        <option>udp</option>
        <option>icmp</option>
      </select>
      <input id="src" type="text" placeholder="src: 192.168.0.0/24">
      <input id="dest" type="text" placeholder="dest: 192.168.100.0/24">
      <select id="action">
        <option>accept</option>
        <option>drop</option>
        <option>reject</option>
      </select>
      <input type="submit" value="ok" id="submet" onclick='GetFormData()'>
    </p>
    <h2>command</h2>
    <p id="output"></p>
  </body>
</html>
